*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:576px) {
    

    .content-container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav-container{
       
        width: 100%;
        /* margin: 0 auto; */
        padding-top: 10px;
        background-color: rgb(202, 198, 198);

        /* display: grid;
        grid-template-columns: 20% 80%;
        align-items: center; */

        display: grid;
        grid-template-columns: 1fr; 
        
        /* justify-content: space-between;
        align-items: center; */
        
       /* border: 2px solid red; */
       margin: 0;
    }
    .header-container{
        
        width: 100%;
    }
 
   
   
    
 
    .banner-container{
        grid-template-columns: 1fr;
        
        width: 100%;
      
    }
    .banner-right-slide-action-container{
        /* margin: 5px;  */
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        /* border: 2px solid red; */
    }
   
    .notice-headline{

        width: 100%;
        
        margin-top: 10px;
        
    }
    .header-part2{
        grid-template-columns: 1fr;
        width: 100%;
       
    }
    .home-menu{
        font-size: 15px;
    }
    .menu{

        box-sizing: border-box;
       

        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

  
    .elevate-director-container{
        
        display: block;
        
    }
    .director-image{
        width: auto;
        height:auto;
        /* border: 2px solid green; */
        display: block;
        margin: 0 auto;
    }
    .footer-container{
    
        grid-template-columns: 1fr;
        gap:20px;
       
    }
    .footer-left{
        grid-template-columns: 1fr;
        gap:20px;
    }
    .footer-left-part1{

        margin: 0 auto;
    }
}