*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /* Shared styles starts here */
    :root{
    --elevate-color:  #025898;
    --heading-bg: rgb(202, 198, 198);
    }
    .elevate-english-academy{
        text-align: center;
        color: #025898;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .content-container{
        width: 90%;
        margin: 0 auto;
    
        
    }
    /* Shared styles ends here */
    /* header styles starts here */
    .header-container{
        width: 100%;
        /* margin: 0 auto; */
        /* background-color: #025898; */
        background-color: rgb(202, 198, 198);
        /* background-color: #025898; */
        /* color: white; */
        /* border: 2px solid red; */
        padding-top: 10px;
        padding-bottom: 15px;
        margin: 0;
        /* border: 2px solid #025898; */
    }
    .nav-left{
        display: flex;
        align-items: center;
        gap: 10px;
        
        
    }
    .nav-left >img{
        width: 100px;
        height: 100px;
    }
    
    
   
    .nav-container{
       
       
        padding-top: 10px;
        background-color: rgb(202, 198, 198);

        display: flex;
       
        justify-content: space-between;
        align-items: center;
        
       
    
    }
    .nav-left{
        /* border: 2px solid red; */
        color: white;
    }
    .notice-headline{
        color: var(--elevate-color);
        /* border: 2px solid var(--elevate-color); */
        height: 40px;
        width: 38%;
        color: white;
      
        /* background-color: #33a3f984; */
        border: none;
        background-color: #1575be91;
        padding-top: 10px;
        
    }
    .headline{

        
        padding-left: 10px;
        color: white;
      
        /* background-color: #33a3f984; */
        border: none;
        /* background-color: #1575be91; */

        font-size: 1.12rem;
       
        
    }
    
  
    .header-part2{
        width: 90%;
        margin: 0 auto;
        display: grid;
        margin-top: 10px;
        grid-template-columns: 20% 80%;
        /* border: 2px solid red; */
        /* padding-bottom: 20px; */
    }
    .header-part2-left{
        /* border: 2px solid red; */
        color: white;
    }
    .header-part2-right{
        /* border: 2px solid red; */
        height: auto;
    }
    .menu{

        box-sizing: border-box;
       

        display: flex;
        /* justify-content: space-around; */
        /* justify-content: space-around; */
       
       
        width: auto;
        /* border: 2px solid blue; */
        
        /* color: white; */

        /* border: 2px solid var(--elevate-color); */
        /* padding: 5px; */
        /* padding-left: 20px; */
        /* margin-right: 30%; */
        /* transform: translateX(70px); */
        background-color: #1575be91;
        
  
    }
   
    .home-menu{
        text-decoration: none;
        /* color: white; */
        /* color: black; */
        font-size: 1.1rem;
        color: white;
        /* color: red; */

        /* border: 2px solid blue; */
        width: auto;
        height: auto;
      
        
        border-right: 2px solid gray;
        padding: 10px 20px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    /* .admission-container{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    } */
   
    .admission-container{
        margin: 5px;
    }
    .banner-container{
        display: grid;
        grid-template-columns: 20% 80%;
        /* border: 2px solid red; */
        height: auto;
        /* height: 500px; */
        /* padding-left: 10px; */
    
    }
    .banner-left-menu{
        background-color: white;
        background-color: #1575be91;
        display: flex;
        flex-direction: column;
       
        /* gap:10px; */
        /* margin-top: 20px; */
        /* margin-bottom: 10px; */
        /* padding-left: 20px; */
    }
    .banner-left-menu > a
    {
        color: white;
    }
    
    .about-elevate{
        padding:10px;
        /* border: 1px solid gray; */
        font-size: 15px;
    }
    .banner-left{
        width: 100%;
        height: 520px;
        border: 1px solid gray;
       margin-top: 5px; 
    }
    .banner-right-slide-action-container{
        margin: 5px; 
        width: 100%;
        height: 520px;
        /* border: 2px solid red; */
    }
    .banner-right-slide-action-container >img{
        width: 100%;
        height: 100%;
    }
    .photo-gallery-container>img{
        width: 100%;
        height: 100%t;
    }
    /* .slide-bar-container{
       
    } */

  

    .footer-icon-container{
        display: flex;
        gap: 30px;
    }
    .footer-container{
        /* margin-top: 20px; */
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color:rgb(34,34,34);
        padding: 20px;
    }
    .footer-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap:10px;
    }
    .paikgacha{
        /* margin-left: 80px; */
        color: white;
        font-size: 1.3rem;
    }
    .footer-bg{
        /* width: 90%;
        margin: 0 auto; */
        background-color:rgb(34,34,34);
    } 
   
    .logo{
        width: 100px;
        height: 100px;
        margin-left: 30px;
    }
    .contact-us-h3{
        font-size: 2rem;
    }
    .footer-icon-container img{
        width: 40px;
        height: 40px;
    }
    .footer-container{
        display: grid;
      
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 70% 30%;

    }
    .footer-left{
        display: grid;
      
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 30% 70%;

        align-items: center;
     
        
    }
    a{
        text-decoration: none;
    }
    .part2 > a{
        color: white;
        font-size: 1.20rem;
    }

    .google-map{

        width: 100%;
        height: 100%;
        
        /* height: 50%; */
        /* display: flex;
        gap: 20px; */
        /* border: 2px solid red; */
        /* border: 2px solid red; */
    }
  
    .course{
        display: flex;
        align-items: center;
        border: 1px solid gray;
    }
    .course >img{

        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    .admission-container{
        border: 1px solid gray;
        background-color: rgba(220, 204, 204, 0.367);
    }
    .notice-container{
        /* border: 1px solid gray; */
        /* background-color:    #F1F1F1; */
     
        
        margin:5px;
        /* border: 2px solid red; */
    }
    .photo-gallery-container{
        background-color: rgba(220, 204, 204, 0.367);
    }
    .about-container{
        /* border: 2px solid gray; */
        background-color: rgba(220, 204, 204, 0.367);
        margin: 5px;
        
    }
    .photo-gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }
    .gallery-container{
      
        /* border: 2px solid blue; */
        position: relative;

    }
    .photo-gallery-container > img{
        width: 100%;
        height: 100%;
    }
    .photo-gallery-container{
        display: none;
    }
    .photo-gallery{
        /* background-color: #3a576a6d; */
        /* background-color: rgba(16, 161, 16, 0.764); */
        background-color: rgba(37, 215, 37, 0.69);
        background-color: var(--heading-bg);
        background-color: rgba(127, 117, 117, 0.474);
        background-color: #146cb069;
        width: max-content;
        height: 55px;
        color: var(--elevate-color);
        border: 1px solid var(--elevate-color);
        border-radius: 5px;
        color: white;
     }
     
     .gallery-category{
        padding: 10px;
        outline: none;
        border: 1px solid var(--elevate-color);
        /* margin-top: 5px; */
        border-radius: 5px;
        background-color: #FAF9F7;
        background-color: var(--heading-bg);
        background-color: #025798a0;
        background-color: #146cb069;
        /* background-color: #3898e19c; */
     
        color: white;
        /* color: var(--elevate-color); */
        /* box-shadow: 2px 2px 2px var(--elevate-color); */
        
        font-size: 15px;
        margin-left: 5px;
        
     }
     
     
     .rag-day-container{
        /* position: absolute; */
        /* margin-top: 120px; */
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        gap:10px;
        top: 10px;
        padding: 10px;
        
        
        
       
     }
 
     .rag-day-container >img{
        width: 100%;
        height: 100%;
        
     }
     /* .rag-day{
        background-color: var(--elevate-color);
        color: white;
     } */
     .rag-day-container{
        display: grid;
     }
     .gallery-category:hover{
        /* background-color: red; */
        background-color: #0d50839c;
        color: white;
     }
     
     
   

    .content-heading{

        margin-left: 10px;
        margin-top: 20px;
        /* margin-bottom: 10px; */
    }
    .content-span{
        background-color: var(--elevate-color); 
        color: white; 
        padding-left: 10px;
        padding-top: 10px; 
        padding-bottom: 10px;
        padding-right: 3px;
       
        border-radius: 5px;
    }
    .content-hr{
        /* height: 2px; */
        background-color: #025898;
       
        margin-left: 34px;
        margin-top: -.5px;
        margin-bottom: 15px; 
       
        border: 1px solid var(--elevate-color);
       
    }
    .mark{
        background-color: #0667b17e ;
        color: white;
        /* color: red; */
        /* border-radius: 16px; */
    }
    .menubar{
        display: none;
    }
    .elevate-director-container{
        border: 2px solid gray;
        background-color: rgba(220, 204, 204, 0.367);
        display: flex;
        /* gap: 50px;  */
        /* justify-content: center; */
        /* align-items: center; */
        height: auto;
    }
    .dir-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid blue; */
        width:100%;
        /* text-align: center; */

        
        
      
     }
  
    .director-image{
        width: auto;
        height:auto;
        /* border: 2px solid green; */
        /* display: block;
        margin: 0 auto; */
    }
    .elevate-flag{
        background-color: #025898 ;
    }
    
    .director-menu {
        border: 1px solid gray;
        padding: 10px;
        font-size: 1rem;
        
      }
      .director-menu:hover{
        background-color: #36424b4e;
        color: white;
      }
    .home-menu:hover{
        background-color: #36424b4e;
        color: white;
      }
      .home-menu:focus{
        background-color: #025898; 
        color: white;
      }
      .lined-menu{
        background-color: #025898; 
        color: white;
      }
      .elevate-color{
        color: #025898;
      }
      .director-name{
        font-size: 2rem;
        font-weight: 600;
      }


      .press-notice{
          
        margin-top: 10px;
        /* background-color: var(--elevate-color); */
        color: white;
        padding: 8px;
        border: 1px solid gray;
      }
      .press-notice a{
        color: black;
      }
      /* .press-notice a:hover{
        background-color: var(--elevate-color);
        color: white;
      } */
      
     
      .notice{
        border-bottom: 1px dotted gray;
      }
      .press-notice a:hover{
        background-color: #08528bb4; 
        color: white;
      }
      .read-more{
        border: 1px solid gray;
        padding: 8px;
        font-size: 15px;
        
      }
      .read-more a{
        color: black;
      }
      /* .read-more:hover{
        background-color: var(--elevate-color);
        
      } */
      .read-more:hover{
        background-color: #08528bb4;
        color: white;
      }
      .read-more:hover a{
        text-decoration: underline;
        color: white;
        
      }
      /* .read-more a:focus{
        background-color: #025898; 
        color: white;
      } */
      /* .read-more:hover {
        color: white;
      } */

      .press-h3{
        display: inline;
        padding-left: 2px;
        color: var(--elevate-color);
        font-size: 1.3rem;
      }
      .elevate-in-press{
        border: 1px solid var(--elevate-color);
        background-color: aliceblue;
      }
      .press-notice, .read-more{
        border-left: none;
        border-right: none;
        border-bottom: none;
      }
      
     .download-img{
        width: 35px;
        height: 35px;
        position: relative;
        top:50%;
        left: 30%;
     }
     .notice-table{
        width: 100%;
        
        border-collapse: collapse;
        
        border: .3px dotted gray;
        background-color: #F1F1F1;
     }
     tr,td{
        border: .3px dotted gray;
       
     }
     td{
        padding: 10px;
     }
     .table-container{
        /* border: 1px solid gray; */
        padding: 20px;
        background-color: #F1F1F1;
        border-radius: 10px;
        margin: 5px;
        /* overflow: auto;
        overflow-x: hidden; */
     }
     .rag-day-button{
        margin-left: 10px;
     }
    
    .rag-day-container{
        display: none;
    }
    .all-image-container{
        display: grid;
    }
   
    .gallery-category:focus{
        background-color: #0d50839c;
        color: white;
     }
    
     .rag-day-button:focus ~ .rag-day-container{
        display: grid;
        
     }
     .rag-day-button:focus ~ .all-image-container{
        display: none;
        
     }
     
     .classRoom-container{
        display: none;
     }
     .classRoom-button:focus ~ .classRoom-container{
        display: grid;
     }
     .classRoom-button:focus ~ .all-image-container{
        display: none;
     }
     .twentyFirst-container{
        display: none;
     }
     .twentyFirst-button:focus .twentyFirst-container{
        display: grid;
     }
     .twentyFirst-button:focus .all-image-container{
        display: none;
     }


     .picnic-container{
        display: none;
     }
     .picnic-button:focus ~ .picnic-container{
        display: grid;
     }
     .picnic-button:focus ~ .all-image-container{
        display: none;
     }
     .classParty-container{
        display: none;
     }
     .classParty-button:focus ~ .classParty-container{
        display: grid;
     }
     .classParty-button:focus ~ .all-image-container{
        display: none;
     }

     .debatingCompetition-container{
        display: none;
     }
     .debatingCompetition-button:focus ~ .debatingCompetition-container{
        display: grid;
     }
     .debatingCompetition-button:focus ~ .all-image-container{
        display: none;
     }

    

    