*{
   box-sizing: border-box;
   max-width: 100%;
   margin: 0;
   padding: 0;

}
.header-container {
    max-width: 100%;
  
    background-color: #175629;
    height: 280px;
    border-bottom: 4px solid #024014;
  
    box-shadow: 0 8px 42px rgba(0, 30, 0, 0.5) inset;
    border-top: 4px solid #024014;
    /* border: 2px solid red; */
    
}
.header-content{
    
    width: 80%;
    height: 200px;
    
    
    margin: 0 auto;
    
    margin-top: 20px;

    /* border: 2px solid black; */
}
.search-bar > input{
    width: 400px;
    height: 50px;
    /* border: 2px solid red; */
    margin-top: 70px;
    padding-left: 30px;
    font-family: "Wittgenstein", serif;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    outline: 0;
    

}
.logoAndname >img{
    height: 200px;
    width: 200px;
    display: block;
    background-color: white;
}
.logoAndname>h3{
   
    
    font-size: 60px;
    font-family: "Wittgenstein", serif;
  /* font-optical-sizing: auto; */
  font-weight: 800px;
  /* font-style: normal; */
  color: white;
  text-align: center;


}
.logoAndname{
    display: flex;
    gap:30px
    
}
.header-content-upper{
    display: flex;
    justify-content: space-between;

}
.main-container{
    height: 1400px;
    max-width: 100%;
    background-color: bisque;
}
.header-content-lower{
    background: #00320F;
    /* border: 2px solid salmon; */
    
    margin-top: 5px;
    /* box-shadow: 10 10 black; */

}
.nav-container a{
    font-size: 20px;
    font-family: "Wittgenstein", serif;

  font-weight: 200px;

  color: white;
  text-align: center;
  text-decoration: none;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}